* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}
#menu {
  background-color: #3e3e3e;
}
#area-acoes {
  width: 90%;
  display: flex;
  justify-self: center;
  justify-content: end;
  align-items: center;
  padding: 1rem 1rem 0;
  margin-top: 1rem;
}
#lista-livros,
#lista-usuarios {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

[hidden] {
  display: none !important;
}
.footer {
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  letter-spacing: 1px;
}
